body {
    background: linear-gradient(#9a08dd 0%,#dd4c4f 40%,#7420d3 100%);
}
.profile {
     display: flex;
     justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
}
.profileImage {
  width: 200px;
}
.profile h4 {
    transform: translateY(-11px);
}
.biodata {
background: linear-gradient(#fffeff 0%,#ffffffd5 40%,#fdfdfd00 100%);
padding-bottom: 200px;
padding-top: 55px;
}
.footer {
    background-color: #fffeff;
    padding-bottom: 20px;
}
.underline {
  width: 60px;
  height: 4px;
  background: #6c5ce7;
  border-radius: 4px;
  margin: 10px auto 20px;
}
.contact a {
    color: black;
    font-size: 30px;
}
.watermark {
padding-top: 20px;
}
.contact{
    background-color:white;
}
.Skill {
padding-top: 50px;
    
    

}
.Skill .card {
  min-height: 340px;
}
@media (max-width: 767px) {
  .Skill .card {
    min-height: unset;
  }
.footer {
  background-color: #fffeff; 
    padding-bottom: 50px;

}



